body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; /* Padding flyttad till container */
    background-color: #f8f9fa;
    color: #343a40;
    box-sizing: border-box;
}

header {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 1em;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px; /* Padding runt hela innehållet */
    box-sizing: border-box;
}

#calendar-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Mellanrum mellan länkar och titel */
    margin: 10px 0;
    padding: 10px 0;
}

#current-month {
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    color: #343a40;
    text-transform: capitalize;
}

.navigation-link {
    text-decoration: none;
    color: #00509e;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.navigation-link:hover {
    text-decoration: underline;
    color: #003366;
}

#calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
    margin: 10px 0;
}

.calendar-day {
    padding: 10px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.calendar-day.event {
    background-color: #003366;
    color: white;
    cursor: pointer;
}

.calendar-day.event:hover {
    background-color: #00509e;
    transition: background-color 0.3s;
}

.navigation-button {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #00509e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.navigation-button:hover {
    background-color: #003366;
    transition: background-color 0.3s;
}

#event-list {
    max-width: 800px;
    margin: 15px auto;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.event-item:last-child {
    border-bottom: none;
}

.event-item:hover {
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}

@media (max-width: 600px) {
    #calendar-navigation {
        flex-direction: column;
        gap: 10px;
    }

    #calendar-grid {
        grid-template-columns: repeat(7, 1fr);
        gap: 5px;
    }

    .calendar-day {
        padding: 8px;
        font-size: 0.9rem;
    }

    .navigation-button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}
